html > body {
  font-family: "Cairo", sans-serif;
}

html,
#root,
body {
  height: 100%;
}

body {
  margin: 0px;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.welcome-wrapper {
  /* background-image: url("D:\projects\Swipe-Labeler\src\welcome.jpeg");
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  width: 50vw;
}

.welcome-text h1 {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 52px;
  font-weight: 600;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
}

.welcome-text p {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
}

@media (max-width: 865px) {
  .welcome-text h1 {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
  }
  .welcome-text p {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 25px;
  }
}

@media (max-width: 535px) {
  .welcome-text h1 {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
  }
  .welcome-text p {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    line-height: 20px;
  }
}

.welcome-btn-grp {
  margin: 30px auto;
  display: grid;
}

.welcome-btn {
  display: inline-block;
  margin: 5px auto;
  /* width: 110px; */
}

.Image_wrapper {
  width: fit-content;
  margin: auto;
}

.count {
  display: flex;
  color: #332488;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  /* transform: translateX(-3.5%); */
  /* border: 2px solid red; */
}
.ct-grp {
  width: fit-content;
  margin-left: 3rem;
  margin-right: 3rem;
}
.count span {
  margin: 2.55px;
  display: inline-block;
  padding: 2.5px;
}
.ct-grp-upper-text {
  font-size: larger;
  font-weight: bolder;
}
.ct-grp-lower-text {
  font-size: large;
}

.prog-bar {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* display: none; */
}

.prg-bar {
  display: none;
}

.timer {
  width: fit-content;
  padding: 3px;
  box-sizing: border-box;
  border: solid 2px black;
  border-radius: 5px;
}

.button-grp {
  display: grid;
}

.quit-button {
  margin: 3px auto;
  width: fit-content;

  box-sizing: border-box;
}

#share-button {
  margin: 3px auto;
}

img {
  max-width: 50vw;
  max-height: 60vh;
}

.image {
  position: relative;
  background-color: #fff;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}
.footer {
  margin-top: 5px;
}

.AcceptRejectButton {
  margin: 20px;
  width: 90px;
  height: 35px;
}

@media (max-width: 640px) {
  img {
    max-width: 90vw;
  }
  .image {
    max-width: 90vw;
  }
  .Content {
    flex: 1;
    margin: 0 auto;
  }
  .AcceptRejectButton {
    margin: 10px;
    width: 100px;
    height: 40px;
  }
  /* .footer {
    margin-top: 10vh;
  } */
}

.EndScreenButton {
  margin: 8px auto;
  width: 180px;
}

.endscreen-btn-grp {
  margin: 8px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hover-text {
  border: 2px solid black;
  display: none;
}
.end-btn1:hover + .hover-text {
  display: block;
  background-color: antiquewhite;
  font-size: 1.2rem;
  color: black;
}

.EndScreen {
  height: 100%;
  background-size: cover;
}
#blank {
  display: none;
}
.EndScreen_Text {
  padding-top: 50px;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.EndScreen_Time_Text {
  padding-top: 50px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.TutorialScreen_Question_Image_Text {
  /* height: 150px;
  width: 800px;
  padding: 300px 15% 0 15%; */
  /*original colours
  color: white;
  text-shadow: 1px 1px 10px black;
  */
  box-sizing: border-box;
  margin-top: 40px;
  color: rgb(44, 33, 202);
  /* text-shadow: 2px 2px 2px rgb(16 26 25 / 51%); */
}

.TutorialScreen_Question_Image_Text_Title {
  margin: 3px;
  font-size: 2rem;
  font-weight: bold;
}

.TutorialScreen_Question_Image_Text_Caption {
  font-size: 1.3rem;
  margin: 3px;
}

.Tutorial_Zoom_Text {
  position: relative;
  left: 0px;
  /* margin-top: 0px;
  margin-left: 0px; */
}

@media (max-width: 650px) {
  .Tutorial_Image_wrapper {
    margin-top: 0px;
  }
  .TutorialScreen_Question_Image_Text_Title {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .TutorialScreen_Question_Image_Text_Caption {
    font-size: 1rem;
  }

  .TutorialScreen_Question_Image {
    /* height: 500px; */
    /* width: fit-content; */
    height: 500px;
    background-size: cover;
  }
}

.Tutorial_Image_wrapper {
  /* display: block; */
  margin: auto;
  margin-top: 5px;
  width: fit-content;
  /* border: 2px solid brown; */
}

.Question_Image {
  /* max-width: 50vw;
  max-height: 60vh; */
  max-width: 70vw;
  max-height: 60vh;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.tut-helper-text {
  margin: 5px auto;
  color: rgb(44, 33, 202);
  font-weight: bold;
}

.tut-helper-gifs {
  width: 100px;
  height: 100px;
}
